body {
  margin:0;padding:0;
  font-family: Arial, Helvetica, sans-serif;

  #app{
    margin:10px;
    background: white;
  }

  

  .box{
    padding:10px;
    border:1px solid #D0DAFE;
    border-radius: 4px;
    width:300px;
    height:400px;
    overflow: auto;
    margin:10px;
  }

  .red{
    background-color: #FC2C3D;
  }

  .blue{
    background-color: #5EBBFF;
  }

  .green{
    background-color: #72FF9F;
  }

  .footer{
    background-color: #FDE30A;
    height:200px;
  }

  .active{    
    background-color: #4B77FF;
    color:#fff;
  }
}
